<script type="text/javascript">
  <% if logged_in? %>
  window.currentUser = <%=
    render("api/users/user.json.jbuilder",
    user: current_user
  ).html_safe %>
  <% end %>
  window.fish = "<%= asset_path('fish.png') %>"
  window.heart_in_book = "<% asset_path('heart_in_book') %>"
</script>



<main id="root"></main>
