.about-you-modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}

.about-you-box {
  border: 1px solid lightgrey;
  height: 428px;
  width: 540px;
  max-height: 428px;
  background-color: white;
  border-radius: 4px;
  margin: 10% auto;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-you-header {
  display: flex;
  justify-content: center;
}

.about-you-box-close {
  color: #0098dc;
}

.about-you-textarea {
  border: 1px solid #ccc;
  resize: none;
  height: 200px;
  width: 500px;
  background-color: #F5F5F5;
  font-size: 15px;
  font-family: sans-serif;
  border-radius: 3px;
  margin: 40px 0px;
}

.about-you-modal button {
  background-color: #0098dc;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  height: 40px;
  width: 130px;
  font-size: 15px;
}

.about-you-modal button:hover {
  background-color: #000080;
}

.about-you-box footer {
  display: flex;
  justify-content: center;
}

#about-you-exit-icon {
  float: right;
  position: relative;
  margin-top: -32px;
  margin-right: -8px;
}
