.about-you-box {
  border: 1px solid;
  height: 428px;
  width: 600px;
  background-color: white;
  border-radius: 3px;
}

.about-you-box-input {

}

.about-you-box-close {
  margin-left: 564px;
  color: #0098dc;
}

.about-you-box-text {
  text-align: center;
}

.about-you-textarea {
  border: 1px solid #ccc;
  resize: none;
  height: 200px;
  width: 500px;
  margin-left: 41px;
  margin-top: 22px;
  background-color: gainsboro;
  font-size: 15px;
  font-family: sans-serif;
  border-radius: 3px;
}

.about-you-save-button {
  background-color: #0098dc;
  padding: 10px 35px 10px 35px;
  font-family: sans-serif;
  color: white;
  margin-left: 221px;
  margin-top: 24px;
  font-size: 14px;
}
