//some of the stylung of this component are shared by others for the sake od consistency and thus found in
//other stylesheets


.activity-middle-section {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.activity-index-link {
  text-decoration: none;
  color: #0098dc;
}

.activity-index-link:hover {
  text-decoration: underline;
}

.activity-middle-split-container {
  width: 345px;
  max-width: 345px;
}

.specific-activity-section {
  width: 100%;
  background: white;
  min-height: 80px;
  margin-bottom: 10px;
}

.specific-activity-section-header {
  display: flex;
  justify-content: space-between;
}

.specific-activity-section h3 {
  margin-bottom: 20px;
  font-weight: bold;
}

.my-likes-div, .my-mutual-likes-div, .my-views-div, .views-of-me-div {
  padding: 20px;
}

.activity-index-profile {
  border-top: #f3f3f3 solid 0.12em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 13px;
}

.activity-user-image {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.activity-user-info {
  width: 145px;
  max-width: 145px;
  margin-left: 20px;
}

.activity-user-info a {
  text-decoration: none;
  color: #0098dc;
}

.activity-user-info a:hover {
  text-decoration: underline;
}

.activity-heart-and-time {
  text-align: center;
}

.activity-heart-and-time span {
  color: #bababb;
  font-size: 13px;
}


.heart-circle-in-activity {
  height: 41px;
  width: 41px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  // background: orange;
}


.heart-circle-in-activity:hover {
  // background: #ffd280;
}

.heart-circle-in-activity i {
  color: #FF6347;
  margin: 7px auto;
}

#heart-in-view-section {
  color: #0098dc;
}
