.preferences-page {
  background-color: #F5F5F5;
  margin-top: 53px;

}

.preferences-box {
  border: 1px solid #e6e6de;
  width: 426px;
  background-color: white;
  border-radius: 3px;
  padding: 21px;
  margin-left: 466px;
}









#sex-seek-checkboxes {
  display: none;
}

#religion-seek-checkboxes {
  display: none;
}

#relationship-seek-checkboxes {
  display: none;
}

#education-seek-checkboxes {
  display: none;
}

#attendance-seek-checkboxes {
  display: none;
}

#smoke-seek-checkboxes {
  display: none;
}

#drink-seek-checkboxes {
  display: none;
}

#have-kids-seek-checkboxes {
  display: none;
}

#want-kids-seek-checkboxes {
  display: none;
}

#relocate-seek-checkboxes {
  display: none;
}

#marital-status-seek-checkboxes {
  display: none;
}

#language-seek-checkboxes {
  display: none;
}

#ethnicity-seek-checkboxes {
  display: none;
}

#distance-seek-checkboxes {
  display: none;
}
