
// .preferences-page {
//   background-color: #F5F5F5;
//   margin-top: 53px;
//
// }
//
// .preferences-box {
//   border: 1px solid #e6e6de;
//   width: 370px;
//   background-color: white;
//   border-radius: 3px;
//   padding: 21px;
//   margin-left: 560px;
// }
//
// #preferences-span {
//   margin-right: 415px;
// }
//
// #preferences-ages-container {
//   display: flex;
//   margin-left: 80px;
// }
//
// #age-choose {
//   width: 33px
// }
//
// #age-choose {
//   width: 33px;
// }
//
// #distance-heading {
//   margin-left: 145px;
// }
//
// #of-distance {
//   padding-left: 20px;
//   padding-right: 20px;
// }
//
// #max-age {
//   padding-left: 30px;
// }
//
// #distance-choose {
//   width: 100px;
//
// }
//
// #zip-choose {
//   width: 60px;
// }
//
// #preferences-distance-container {
//   display: flex;
//   margin-left: 75px;
// }
//
//
//
// //


$button-hover: #000080;

.discovery-preferences-container {
  width: 600px;
  max-width: 600px;
  border-radius: 4px;
  background: white;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.done-button {
  background-color: #0098dc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  min-height: 40px;
  min-width: 140px;
  font-size: 18px;
  align-self: center;
}

.done-button:hover {
  background-color: $button-hover;
}

.checkbox-options-container {
  width: 100%;
}

.checkbox-options-container label {
  padding: 1px 0px;
}

input[type=checkbox] {
  zoom: 1.5;
}

#sex_seek-checkboxes {
  display: none;
}

#religion_seek-checkboxes {
  display: none;
}

#relationship_seek-checkboxes {
  display: none;
}

#education_seek-checkboxes {
  display: none;
}

#attendance_seek-checkboxes {
  display: none;
}

#smoke_seek-checkboxes {
  display: none;
}

#drink_seek-checkboxes {
  display: none;
}

#have_kids_seek-checkboxes {
  display: none;
}

#want_kids_seek-checkboxes {
  display: none;
}

#relocate_seek-checkboxes {
  display: none;
}

#marital_status_seek-checkboxes {
  display: none;
}

#language_seek-checkboxes {
  display: none;
}

#ethnicity_seek-checkboxes {
  display: none;
}

#distance-discovery {
  width: 94%;
}

.age-discovery-range {
  width: 42%
}

.age-discovery-range:first-of-type {
  margin-right: 58px;
}

.distance-discovery-section {
  display: flex;
}

.distance-discovery-dropdown {
  width: 50%
}

.distance-discovery-location {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.distance-discovery-location span:first-of-type {
  margin-right: 50px;
}

.gender-error-span {
  color: red;
}
