.likes-views-index-profile {
  border-top: #f3f3f3 solid 0.12em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  background: white;
  margin-bottom: 10px;
}

.like-view-index-middle-section {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-direction: column;
}
