$link-hover: #DCDCDC;
$button-hover: #000080;

.login-header-content {
  z-index: 1;
  width: 100%;
}

.login-top {
  display: flex;
  justify-content: space-between;
}

.login-top section {
  padding: 30px;
}

.form-link-to-sign-up {
  color: white;
  text-decoration: none;
  font-size: 18px;
  // font-family: sans-serif;
}

.form-link-to-sign-up:hover {
  color: $link-hover
}

.login-form-section {
  display: flex;
  justify-content: center;
  padding-top: 135px;
}

.login-form-section section {
  display: flex;
  flex-direction: column;
  background: rgba(255,255,255, 0);
  // text-align: center;
  // background-color: white;
  border-radius: 2px;
  padding: 30px;
  align-items: center;
  justify-content: center;

};

.login-form-error {
  color: #ff3838;
  text-align: center;
  font-size: 18px;
  // font-family: serif;
}

.login-form-section label {
  color: rgba(0, 0, 0, 0.5);
  // font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-self: normal;
  min-height: 16px;
  padding-top: 20px;
  color: white;
  font-size: 16px;
};

.login-form-section section input::placeholder {
  color: rgba(255, 255, 255, .7);
  font-style: italic;
}

.login-form-section button {
  // background-color: #0098dc;
  background: rgba(255,255,255, .4);
  // font-family: sans-serif;
  color: white;
  height: 40px;
  width: 120px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 25px;
}

.login-form-section button:hover {
  color: #DCDCDC;
  border-color: #DCDCDC;
}

.login-button:hover {
  background-color: #4682B4;
}

.login-form-section input {
  font-size: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid white;
}

.login-form-section input::placeholder {
  color: lightgrey;
}

.login-top figure {
  text-align: center;
  padding-left: 17px;
  padding-top: 13px;
  display: grid;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Slab';
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 30px;
  font-size: 20px;

  img{
    width: 40%;
    margin-bottom: -15px;
    margin-left: -7px;
  }
}
