.login-welcome-page {
  background-image: url("http://s3.us-east-2.amazonaws.com/christian-singles-dev/users/images/000/000/052/original/heart_in_book.jpg?1521169764");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: inherit;

}

.login-nav {
  display: flex;
  justify-content: space-between;
}

.form-link-to-sign-up-container {
  padding: 30px;
}

.form-link-to-sign-up {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: sans-serif;
}

.login-form-container {
  display: flex;
  justify-content: center;
  padding-top: 175px;
}

.login-form {
  background-color: white;
  border-radius: 2px;
  text-align: center;
  padding: 50px 30px;
};

.login-form-error {
  color: orangered;
  padding-bottom: 20px;
  text-align: center;
  font-size: 21px;

}

.login-field {
  color: rgba(0, 0, 0, 0.5);
  padding-right: 154px;
  font-family: sans-serif;
};

.login-button {
  background-color: #0098dc;
  padding: 10px 35px 10px 35px;
  font-family: sans-serif;
  color: white;
}

.login-button:hover {
  background-color: 	#4682B4;
}

.login-input {
  font-size: 20px;
}

.login-logo {
  text-align: center;
  padding-left: 17px;
  padding-top: 13px;
  display: grid;
  align-items: center;
}

.login-logo-text {
  color: white;
  font-family: sans-serif;
  font-size: 22px;
  text-decoration: none;
}

.login-fish {
  width: 33%;
  margin-bottom: -17px;
  margin-left: 53px;
}
