//uses many of the same classes as the login page. see the styling there..
.birth_date-input-field {
  font-size: 20px;
  padding-left: 14px;
}

.sign-up-form-container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
