.top-header {
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  top: 0px;
  width: 98%;
}

//the logo styling is in the footer stylesheet

.top-header-links {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  width: 400px;
}

.th-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 18px;
}

.user-icon {
  height: 55px;
  width: 55px;
  border-radius: 50px;
  cursor: pointer;
}

.dropdown-menu {
  background-color: white;
  border-radius: 2px;
  display: none;
  min-width: 200px;
  margin-top: 13px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1;
  margin-left: -137px
}

.th-dropdown-link {
  cursor: pointer;
  font-family: sans-serif;
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 0px 10px 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);

}

.show {
  display: block;
}
