.user-index-profile-box {
  border: 1px solid #e6e6de;
  width: 315px;
  max-width: 315px;
  height: 355px;
  max-height: 355px;
  display: inline-grid;
  justify-content: center;
  background-color: white;
  border-radius: 3px;
  margin-top: 15px;

}

.user-index-profile-box-pic{
  border: 1px solid #e6e6de;
  height: 300px;
  max-height: 300px;
  width: 300px;
  max-width: 300px;
  margin-top: 7px;
  background-color: grey;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.user-index-profile-name-text {
  margin-top: -40px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
  // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 15px;
  font-family: "Roboto Slab";
}
