$button-hover: #000080;
//much of the styling for his container is found in the user_profile
//component stylesheet

.profile-edit-info-container {
  float: right;
  min-width: 345px;
  max-width: 345px;
  min-height: 390px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 25px 0px;
}

//this empty div is in order to maintain proper spacing on top span
.empty-div {
  min-height: 40px;
  min-width: 140px;
}

.user-info-input-attribute {
  padding: 3px 20px 10px 20px;
  // border: 1px solid;
  // font-family: cambria;/////
}

// .user-info-input-attribute input

.user-info-input-label {
  color: #A9A9A9;
  font-size: 13px;
  min-height: 16px;
}

.user-info-input-box {
  border: none;
  border-bottom: 1px solid #DCDCDC;
  // font-family: cambria;//////
  font-size: 15px;
  width: 100%;
}

.user-info-select-box {
  background-color: white;
  border: none;
  border-bottom: 1px solid #DCDCDC;
  // font-family: cambria;///////
  font-size: 15px;
  width: 100%;
  border-radius: 0px;
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background: transparent;
}

.user-info-input-attribute i {
  color: #0098dc;
  margin-left: 1px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

#icon-for-select-box {
  margin-left: -14px;
}

#remove-border {
  border-bottom: none;
}

.user-info-dropdown-select-box {
  background-color: white;
  border: none;
  // border-bottom: 1px solid #DCDCDC;
  // font-family: cambria;///////
  font-size: 15px;
  border-radius: -3px;
  width: 95%;
  cursor: pointer;

}

.dropdown-line-and-icon {
  display: flex;
  border-bottom: 1px solid #DCDCDC;
}

.edit-preferences-button {
  background-color: #0098dc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  height: 40px;
  width: 230px;
  align-self: center;
  font-size: 18px;
  margin-top: 20px;
}

.edit-preferences-button:hover {
  background-color: $button-hover;
}

.height-edit-range {
  width: 95%;
  cursor: pointer;
}

.profile-height {
  font-size: 15px;
}


//checkboxes

#ethnicity-checkboxes {
  display: none;
}

#language-checkboxes {
  display: none;
}

#pets-checkboxes {
  display: none;
}

#first_date-checkboxes {
  display: none;
}
