.user-index-page {
  background-color: #F5F5F5;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.user-index-profiles-container {
  // border: 1px solid;
  max-width: 965px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // padding-top: 95px;
  padding-bottom: 80px;
}

.browse-display-header {
  height: 40px;
  width: 955px;
  max-width: 955px;
  margin-top: 95px;
  display: flex;
}

.browse-display-header div, .browse-display-header a {
  width: 100%;
  border:1px solid #f3f3f3;
  border-radius: 4px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#underlined-box {
  border-bottom: 2px solid #0098dc;
}

#bold-browse-link {
  font-weight: bold;
  color: #0098dc;
}

#link-to-profiles {
  text-decoration: none;
}

.heart-circle-in-index {
  // border: 1px solid;
  height: 41px;
  width: 41px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  // background: orange;
  // margin: -47px auto;
  margin-left: 16pc;
  position: relative;
  margin-bottom: -60px;
}

#heart-circle-unliked-index i {
  background: none;
  border: none;
  color: white;
}

.heart-circle-in-index:hover {
  // background: #ffd280;
}

.heart-circle-in-index i {
  color: #FF6347;
  margin: 7px auto;
}

.heart-and-pic-section {
  margin-top: 25px;
  /* min-height: 372px; */
  display: flex;
  flex-direction: column;
}

.no-matches-message {
  text-align: center;
  width: 320px;
  font-size: 19px;
  color: grey;
  margin: 100px auto;
}
