.user-index-page {
  background-color: #F5F5F5;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}


.user-index-profiles-container {
  // border: 1px solid;
  max-width: 965px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 95px;
  padding-bottom: 80px;
}

#link-to-profiles {
  text-decoration: none;
}
