$button-hover: #000080;
//much of the styling for his container is found in the user_profile
//component stylesheet

.profile-edit-info-container {
  float: right;
  min-width: 345px;
  max-width: 345px;
  min-height: 390px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 25px 0px;
}

//this empty div is in order to maintain proper spacing on top span
.empty-div {
  min-height: 40px;
  min-width: 140px;
}

.user-info-input-attribute {
  padding: 3px 20px 10px 20px;
  // border: 1px solid;
  font-family: sans-serif;
}

// .user-info-input-attribute input

.user-info-input-label {
  color: #A9A9A9;
  font-size: 13px;
  min-height: 16px;
}

.user-info-input-box {
  border: none;
  border-bottom: 1px solid #DCDCDC;
  font-family: sans-serif;
  font-size: 16px;
  width: 95%;
}

.user-info-select-box {
  background-color: white;
  border: none;
  border-bottom: 1px solid #DCDCDC;
  font-family: sans-serif;
  font-size: 16px;
  width: 95%;
  border-radius: 0px;
  -webkit-appearance: none;
}

.user-info-input-attribute i {
  color: #0098dc;
}

.user-info-dropdown-select-box {
  background-color: white;
  border: none;
  border-bottom: 1px solid #DCDCDC;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: -3px;
  width: 95%;
}

.dropdown-line-and-icon {
  display: flex;
}

.edit-preferences-button {
  background-color: #0098dc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  height: 40px;
  width: 230px;
  align-self: center;
  font-size: 18px;
}

.edit-preferences-button:hover {
  background-color: $button-hover;
}


//checkboxes

#ethnicity-checkboxes {
  display: none;
}

#language-checkboxes {
  display: none;
}

#pets-checkboxes {
  display: none;
}

#first_date-checkboxes {
  display: none;
}
